<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="frink.jpg">
    <title>Music</title>
    <link rel="stylesheet" href="/static/styles.css">
    



</head>

<body>
    <h1 id = 'welcome'>Album Information</h1>
   
      <div id = "album_intro">
        <p>
        Here is where you can get album information
        </p> 

      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
  
    <form action="#">
        <select name="choice" id="choice">
            <option value="1">For fun</option>
            <option value="2">For Research</option>
            <option value="3">For random reasons</option>
        </select>

    <script src="/static/js/albums.js"></script>

    </form>




</body>

</html>